<div align="center">
  <div class="row welcome">
    <h1><strong>Start Shopping Here</strong></h1>
  </div>

    <%= form_tag("/results", method: "post") do %>
      <div class="row">
        <div class="small-6 large-centered columns">
          <%=text_field_tag('', '', :placeholder => "Who are you shopping for?")%>
        </div> 
      </div>
      <div class="row">
        <div class="small-6 large-centered columns">
          <%=text_field_tag :age, '', :placeholder => "What is their age?", :required => true%>
        </div>
      </div>

        <div class="row radiobuttons">
          <div class="large-12 columns sex-buttons">  
          <h2><strong>Choose Gender</strong></h2>
          <%=radio_button_tag(:sex, "female", false, :class => "label-classic")%>
          <%=label_tag(:sex_female, "Female", :class => "label-classic")%>
          <%= radio_button_tag(:sex, "male", false, :class => "label-classic")%>
          <%= label_tag(:sex_male, "Male", :class => "label-classic")%>
          </div>
        </div>
    <div class="row">
      <div class="large-12 columns">
        <h2><strong>Choose Style</strong></h2>
      </div>
    </div>
    <div class="row">
      <div class="large-12 columns styles-container">   
          <% Style.all.each do |style|%>
          <!-- <button class="fancybutton" --> 
          <div class="style-button <%= style.sex %>" data-sex="<%= style.sex %>" data-style="<%= style.style %>">
            <!-- <div class="checkbox">  -->
            <%= check_box_tag'style[]', style[:id], false, :id => "stylechoice#{style.id}"%>
            <%= label_tag("stylechoice#{style.id}", style.style, :type => "checkbox")%> 
            <!-- </div> -->
          </div>
          <%end%>
      </div>
    </div>
    <div class="row">
      <div class="large-12 columns">
      <%=submit_tag("View Results", :class => "button-submit")%>
      </div>
    </div> 
    <% end %>
</div>



  

