


<div align="center">
<br>
<h1 class="welcome"><strong>Start Shopping</strong></h1>

<div class="row">
        <div class="small-6 large-centered columns"

            <div id="content">
            <!-- <form action="/results" method="get"> -->
            <%= form_tag("/results", method: "post") do %>

              
               <%= text_field_tag('', '', :placeholder => "Who are you shopping for?") %>
              <%= text_field_tag :age, '', :placeholder => "Age?" %>
                
                  <%= radio_button_tag(:sex, "female") %>
                  <%= label_tag(:sex_female, "Female") %>
                  <%= radio_button_tag(:sex, "male") %>
                  <%= label_tag(:sex_male, "Male") %>
             


                
        
                  <!-- <input class="button" id="topbutton" type='button' value="Submit"/> -->
                   <h2><strong>Choose Three Styles</strong></h2>
                   <br>
                     
                  <% Style.all.each do |style| %>

                  <%= check_box_tag style.style%>
                  <%= label_tag style.style %>
                  <br>
                  <% end %>
                  <br>
                  <br>

                  <button class="button-submit" <%= "See Your Results" %></button>
                <% end %>

<br>
<br>
      </div>
    </div>
  </div>
</div>

<script> $(document).ready ->
  $("#new_article").on("ajax:success", (e, data, status, xhr) ->
    $("#new_article").append xhr.responseText
  ).on "ajax:error", (e, xhr, status, error) ->
    $("#new_article").append "<p>ERROR</p>"
</script>
           
  

