<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/assets/application.css"
    >
    <link href='http://fonts.googleapis.com/css?family=Roboto:500italic,400,300' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Quicksand:400,700' rel='stylesheet' type='text/css'>

    <title><%= content_for?(:title) ? yield(:title) : "Shopping Sherpa" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
 
<nav class="top-bar" data-topbar>
      <a href="#"><img src="/assets/logo/logo-header-blue.png" height="300" width="500"></a>
</nav>
</head>
  <body>
  <div id="container">
    <%= yield %>
    <%= javascript_include_tag "application" %>
  </div>

  <div class="clearfooter"></div>
  <div class="bottom-bar" id="footer">
    <ul class="footer-area">
      <li class="footer-text">ABOUT</li>
      <li class="footer-text">CONTACT</li>
      <li class="footer-text">PARTNER WITH US</li>
      <a href="#"><img src="/assets/socialmedia/facebook-logo.png" height="50" width="50"></a>
    <a href="#"><img src="/assets/socialmedia/twitter-logo.png" height="50" width="50" height="300" width="500"></a>
    </ul>
    <script type="text/javascript" src="/assets/form.js"></script>
  <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  <script src="/assets/isotope.pkgd.min.js"></script>
  </div>
</body>

</html>