<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/assets/application.css"
    >
    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400italic,400,300,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Quicksand:400,700' rel='stylesheet' type='text/css'>

    <title><%= content_for?(:title) ? yield(:title) : "Shopping Sherpa" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
 
</head>
<body class="<%= controller_name %>container">
  <div id="container">
    <nav class="top-bar" data-topbar>
          <a href="/"><img src="/assets/logo/logo-header-blue.png" height="300" width="500"></a>
    </nav>
    <%= yield %>
    <div class="footer-push"></div>
  </div>

  <div class="row bottom-bar footer">
    <div class="large-12 columns">
      <ul>
        <div class="large-4 columns">
          <li class="footer-text"><a href='/partner'>PARTNER WITH US</a></li>
        </div>
        <div class="large-2 columns">
          <li class="footer-text"><a href='/about'>ABOUT</a></li>
        </div>
        <div class="large-4 columns">
          <li class="footer-text"><a href='/contact'>CONTACT US</a></li>
        </div>
          <div class="large-2 columns" style="list-style-type: none;">
           <li class="social-media-icons"> <a href="http://www.facebook.com/shoppingsherpa" target="_blank"><img src="/assets/socialmedia/facebook-logo.png" height="55" width="55"></a>
        <a href="http://www.twitter.com/shopping_sherpa" target="_blank"><img src="/assets/socialmedia/twitter-logo.png" height="55" width="55"></a> </li>
          </div>
      </ul>
      <%= javascript_include_tag "application" %>
      <script type="text/javascript" src="/assets/form.js"></script>
    </div>  
  </div>
<!-- <div class="clearfooter"></div> -->

</body>

</html>